@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

html, body {
  margin: 0;
  height: 100vh;
  font-family: "Montserrat", sans-serif;
  color: #efebe9;
}

* {
  box-sizing: border-box;
}

.backgroundImg {
  background-repeat: no-repeat;
  background-size: cover;
}

/* Blur box */
.Blur_box_container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.Blur_box {
  background-color: #ffffff10;
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
  width: 90%;
  height: 90%;
  border-radius: 10px;
  box-shadow: 2px 2px 10px rgb(59, 59, 59);
}

/* Weather Container */
.Weather_container .currentTemp{
  font-weight: bold;
}

.Weather_container > div {
  text-align: center;
}

.Weather_container .description{
  text-align: center;
}

/* Air Container */
.Air_container{
  display: flex;
}

.Air_container .Ultrafine_dust, .Fine_dust{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Air_container .dustTitle{
  font-weight: bold;
}

.Air_container .status2_5, .status10{
  font-style: italic;
}

/* SunTime and Humidity */
.Suntime_humid_container > div .humidTitle, .sunTitle{
  margin-right: 5px;
  font-weight: bold;
}

/* Moblie */
@media (max-width: 375px){
  .Blur_box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  /* Weather Container */
  .Weather_container{
    flex-grow: 2;
  }

  .Weather_container .locate_and_date{
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .Weather_container .locate_and_date .location{
    font-size: 30px;
    padding-bottom: 10px;
  }

  .Weather_container .icon{
    width: 100%;
    text-align: center;
  }

  .Weather_container .icon img{
    width: 60%;
  }

  .Weather_container .description{
    padding-top: 2px;
  }

  .Weather_container .currentTemp{
    font-size: 3rem;
    /* padding-top: 10px; */
  }

  /* Air Container */
  .Air_container{
    flex-grow: 1;
    width: 100%;
    justify-content: space-evenly;
    font-size: 1.2rem;
  }

  .Air_container .Ultrafine_dust, .Fine_dust{
    justify-content: space-evenly;
  }

  .Air_container .status2_5, .status10{
    padding-top: 3px;
    padding-bottom: 3px;
  }

  /* Suntime Humidity Container */
  .Suntime_humid_container{
    flex-grow: 1;
    width: 100%;
    text-align: center;
    font-size: 1.2rem;
  }

  .Suntime_humid_container .humidity_container {
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .Suntime_humid_container .sunrise_container{
    margin-bottom: 3px;
  }

}

/* Tablet */